/* Inicio da seção Seção de seleção do remetente e destinatario */
.corpo{
    height: 700px;
    width: 1903px;
}
.corpo-2{
    bottom: 13px;
    position: relative;
}
.box-destino{
    width: 270px;
    top: 61px;
    margin-left: 20px;
}
.box-remete{
    width: 270px;
    top: 61px;
    margin-left: 20px;
}
.lateral{
    background-color: yellow;
    height: 768px;
    width: 320px;
}
/* Fim da Seção de seleção do remetente e destinatario */

/* Inicio - Campo Etiqueta Correio */
.espaco_codigo_id{  
    margin-left: 10px;
    top: 10px;
    position: absolute;
    line-height: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.espaco_codigo_id-linha1{
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 95px;
    position: relative;
    bottom: 215px;
}
.espaco_codigo_id-linha2{
    font-size: 13px;
    position: relative;
    bottom: 215px;
}
/* Fim - Campo Etiqueta Correio */

/* Inicio Etiqueta - Destinatario */
.layout-destino{
    position: absolute;
    top: 230px;
    margin-left: 10px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
.nome_destino{
    position: relative;
    bottom: 193px;
    margin-left: 10px;

}
.endereco_destino{
    position: relative;
    bottom: 210px;
    margin-left: 10px;
}
.complemento_destino{
    position: relative;
    bottom: 245px;
    margin-left: 175px;
}
.bairro_destino{
    position: relative;
    bottom: 260px;
    margin-left: 10px;
}
.cep_destino{
    position: relative;
    bottom: 260px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}
.cidade_destino{
    position: relative;
    bottom: 299px;
    margin-left: 115px;
}
/* Fim Etiqueta - Destinatario */

/* Inicio Etiqueta - Remetente */
.layout-remete{
    position: absolute;
    top: 460px;
    font-size: 18px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    line-height: 0;
}
.layout-remete_titulo{
    font-weight: bold;
}
.layout-remete_endereco{
    position: relative;
    top: 20px;
    float: left;
}
.layout-remete_complemento{
    position: relative;
    top: 40px;
    float: left;
}
.layout-remete_bairro{
    position: relative;
    top: 60px;
    float: left;
}
.layout-remete_cep{
    position: relative;
    font-weight: bold;
    top: 80px;
    float: left;
}
.layout-remete_cidade{
    position: absolute;
    left: 110px;
    top: 80px;
}
.recorte{
    position: absolute;
    top: 100px;
    border-style: dashed;
    border-color: lightgrey;
    height: 565px;
    width: 507px;
    margin-left: 25%;
}
/* Fim Etiqueta - Remetente */

.botao_gerar {
    bottom: 550px;
    margin-left: 76px;
}
.botao_imprimir{
    position: relative;
    bottom: 540px;
    margin-left: 66px;
}
@media print{
    .impressao{
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        height: 580px;
        width: 510px;
    }
    .remetente-impressao{
        margin-left: 10px;
    }
    .noprint {
        display: none;
    }
}