{% extends 'intranet/base.html' %}
{% load staticfiles %}

{% block title %} Departamentos {% endblock title %}

{% block body %}

     <div class="parallax-container">
      <div class="parallax"><img src="{%  static 'imagens/departamentos.jpg' %}"></div>
    </div>
    <div class="section white">
      <div class="row container">
        <h2 class="header">Departamentos</h2>
        <p class="grey-text text-darken-3 lighten-3">Esta página contem documentos disponibilizados pelo departamentos da companhia para facilitar o dia-a-dia dos colaboradores.
        </p>
      </div>
    </div>

  <div class="row container">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab"><a class="grey-text text-darken-1" href="#test1">RH</a></li>
        <li class="tab"><a class="active grey-text text-darken-1" href="#test2">Dpto. Pessoal</a></li>
        <li class="tab"><a class="grey-text text-darken-1" href="#test3">Jurídico</a></li>
        <li class="tab"><a class="grey-text text-darken-1" href="#test4">Financeiro</a></li>
        <li class="tab"><a class="grey-text text-darken-1" href="#test5">Fiscal</a></li>
        <li class="tab"><a class="grey-text text-darken-1" href="#test6">Contabilidade</a></li>
        <li class="tab"><a class="grey-text text-darken-1" href="#test7">Compras</a></li>
        <li class="tab"><a class="grey-text text-darken-1" href="#test8">Auditoria</a></li>
        <li class="tab"><a class="grey-text text-darken-1" href="#test9">Marketing</a></li>
        <li class="tab"><a class="grey-text text-darken-1" href="#test10">Compras Indiretas</a></li>
        <li class="tab"><a class="grey-text text-darken-1" href="#test11">Patrimônio</a></li>
        <li class="tab"><a class="grey-text text-darken-1" href="#test12">TI</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12">
       <table class="striped">
        <thead>
          <tr>
              <th>Download</th>
              <th>Nome</th>
              <th>Descriçao</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>PDF</td>
            <td>Exemplo 1</td>
            <td>Este documento é apenas um exemplo de como estará sendo vizualizado pelo usuário</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="test2" class="col s12">
        <table class="striped">
        <thead>
          <tr>
              <th>Download</th>
              <th>Nome</th>
              <th>Descriçao</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>PDF</td>
            <td>Exemplo 1</td>
            <td>Este documento é apenas um exemplo de como estará sendo vizualizado pelo usuário</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="test3" class="col s12">
        <table class="striped">
        <thead>
          <tr>
              <th>Download</th>
              <th>Nome</th>
              <th>Descriçao</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>PDF</td>
            <td>Exemplo 1</td>
            <td>Este documento é apenas um exemplo de como estará sendo vizualizado pelo usuário</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="test4" class="col s12">
        <table class="striped">
        <thead>
          <tr>
              <th>Download</th>
              <th>Nome</th>
              <th>Descriçao</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>PDF</td>
            <td>Exemplo 1</td>
            <td>Este documento é apenas um exemplo de como estará sendo vizualizado pelo usuário</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="test5" class="col s12">
        <table class="striped">
        <thead>
          <tr>
              <th>Download</th>
              <th>Nome</th>
              <th>Descriçao</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>PDF</td>
            <td>Exemplo 1</td>
            <td>Este documento é apenas um exemplo de como estará sendo vizualizado pelo usuário</td>
          </tr>
        </tbody>
      </table>
    </div>
   <div id="test6" class="col s12">
        <table class="striped">
        <thead>
          <tr>
              <th>Download</th>
              <th>Nome</th>
              <th>Descriçao</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>PDF</td>
            <td>Exemplo 1</td>
            <td>Este documento é apenas um exemplo de como estará sendo vizualizado pelo usuário</td>
          </tr>
        </tbody>
      </table>
    </div>
   <div id="test7" class="col s12">
        <table class="striped">
        <thead>
          <tr>
              <th>Download</th>
              <th>Nome</th>
              <th>Descriçao</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>PDF</td>
            <td>Exemplo 1</td>
            <td>Este documento é apenas um exemplo de como estará sendo vizualizado pelo usuário</td>
          </tr>
        </tbody>
      </table>
    </div>
   <div id="test8" class="col s12">
        <table class="striped">
        <thead>
          <tr>
              <th>Download</th>
              <th>Nome</th>
              <th>Descriçao</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>PDF</td>
            <td>Exemplo 1</td>
            <td>Este documento é apenas um exemplo de como estará sendo vizualizado pelo usuário</td>
          </tr>
        </tbody>
      </table>
    </div>
   <div id="test9" class="col s12">
        <table class="striped">
        <thead>
          <tr>
              <th>Download</th>
              <th>Nome</th>
              <th>Descriçao</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>PDF</td>
            <td>Exemplo 1</td>
            <td>Este documento á apenas um exemplo de como estará sendo vizualizado pelo usuário</td>
          </tr>
        </tbody>
      </table>
    </div>
   <div id="test10" class="col s12">
        <table class="striped">
        <thead>
          <tr>
              <th>Download</th>
              <th>Nome</th>
              <th>Descriçao</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>PDF</td>
            <td>Exemplo 1</td>
            <td>Este documento é apenas um exemplo de como estará sendo vizualizado pelo usuário</td>
          </tr>
        </tbody>
      </table>
    </div>
   <div id="test11" class="col s12">
        <table class="striped">
        <thead>
          <tr>
              <th>Download</th>
              <th>Nome</th>
              <th>Descriçao</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>PDF</td>
            <td>Exemplo 1</td>
            <td>Este documento é apenas um exemplo de como estará sendo vizualizado pelo usuário</td>
          </tr>
        </tbody>
      </table>
    </div>
   <div id="test12" class="col s12">
        <table class="striped">
        <thead>
          <tr>
              <th>Download</th>
              <th>Nome</th>
              <th>Descriçao</th>
          </tr>
        </thead>
        <tbody>
          {% for x in ti %}
          <tr>
            <td><a href="/media/{{ x.arquivo }}"><i class="Medium material-icons">archive</i></a></td>
            <td>{{ x.nome }}</td>
            <td>{{ x.descricao }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


  {% block jquery %}
  <!-- tabs -->

   <script type="text/javascript">
    $(document).ready(function(){
    $('.tabs').tabs();
    });
  </script>


  {% endblock jquery %}



{% endblock body %}
