{% extends 'intranet/base.html' %}
{%load staticfiles%}

{% block title %} etiqueta_correio
{% endblock title %}


{% block body %}
<section class="corpo impressao">

    <div>
        <div class="lateral noprint">
            <div class="corpo-2">
                    <div class="input-field col s12 box-destino">
                            <form name="destino-box" action="{% url 'empresa_avenida' %}">
                                {% csrf_token %}
                                {{ form }}
                                <select name="combo-destino" size="1">
                                    <option value="" disabled selected>Escolha o Destinatário</option>
                                    {% for emp in empresas %}
                                    <option value="{{ emp.filial }}">{{ emp.filial }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                    </div>
            </div>
            <div>
                    <div class="input-field col s12 box-remete">
                            <form action="remete-box" action="{% url 'empresa_avenida' %}">
                            {% csrf_token %}
                                {{ form }}
                                <select>
                                    <option value="" disabled selected>Escolha o Remetente</option>
                                    {% for emp in empresas %}
                                    <option value="{{ emp.filial }}">{{ emp.filial }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                    </div>
                </div>
            </div>
            <form>
                <input class="waves-effect waves-light btn grey darken-4 botao_gerar" type="button" value="Gerar"/>
            </form>
        </div>
    </div>

    <div class="recorte impressao">
        <div class="layout-destino">
            <img src="/static/imagens/rect4807.png" alt="">
            <p class="nome_destino">{{ emp.filial }}</p>
            <p class="endereco_destino">Rua Capiberibe, 269</p>
            <p class="complemento_destino">Apto. 269</p>
            <p class="bairro_destino">Vila Dainese</p>
            <p class="cep_destino">13469-070</p>
            <p class="cidade_destino">Americana-SP</p>
        </div>
        


    
        <div class="layout-remete remetente-impressao">
            <span class="layout-remete_titulo">Remetente:</span>
            <span>leonardo fregnani</span>
            <span class="layout-remete_endereco">rua tangará, 0004</span>
            <span class="layout-remete_complemento">quadra 07</span>
            <span class="layout-remete_bairro">recanto dos pássaros</span>
            <span class="layout-remete_cep">78074-010</span>
            <span class="layout-remete_cidade">cuiabá-MT</span>
        </div>
    

 

        <div class="espaco_codigo_id">
            <img src="/static/imagens/rect4806.png" alt="">
            <p class="espaco_codigo_id-linha1">uso exclusivo dos correios</p>
            <p class="espaco_codigo_id-linha2">cole aqui a etiqueta com o código identificador da encomenda</p>
        </div>
    </div>


            <form>
                <input class="waves-effect waves-light btn grey darken-4 noprint botao_imprimir" type="button" value="Imprimir" onclick="window.print();return false;"/>
            </form>
</section>

{% block jquery %}
  
<!-- Model -->
    <script type="text/javascript">
        $(document).ready(function(){
        $('.modal').modal();
        });
    </script>
    
    <script type="text/javascript">
        $(document).ready(function(){
            $('select').formSelect();
        });
    </script>
    
{% endblock jquery %}

{% endblock body %}