
{% extends 'intranet/base.html' %}
{%load staticfiles%}

{% block title %} Empresas
{% endblock title %}


{% block body %}


    <!--h5> A empresa filtrada foi {{lojas_detail}}</h5> -->
    <h5> A empresa filtrada foi detalhe {{Filial}}</h5>

  
  {% block jquery %}
  
   <!-- Model -->
   <script type="text/javascript">
    $(document).ready(function(){
    $('.modal').modal();
	});
	</script>
	
	<script type="text/javascript">
	 $(document).ready(function(){
		$('select').formSelect();
	 });
	 </script>
	   
  {% endblock jquery %}
  
{% endblock body %}
